*{
    margin:0;
    padding: 0;
    text-align: center;
    /* visibility: hidden; */
}
h1{
    margin-right: -1px;
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;/*center from top and bottom*/
}
.choice{
    height: 180px;
    width: 200px;
    border-radius: 50%;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.choice:hover{
    /* opacity: 0.8; */
    cursor: pointer;
    background-color: #081b31;
    transition: ease 2s;
    position: relative;
}

.choice:hover .text{
    visibility: visible;
    color: #fff;
}
/* .choice:nth-child(e):hover{
    visibility: visible;
    color:#fff;
} */
/* .text:hover{
    position: absolute;
    display: contents;
} */

img{
    margin: 2px;
    height: 140px;
    width: 140px;
    object-fit: cover;/*so that our image not seen like as blur*/
    border-radius: 50%;
    /* box-shadow: 10px 10px 20px black; */
    filter: drop-shadow(10px 10px 20px rgb(27, 27, 27));
}
.text{
    font-size: 1.5rem;
    visibility: hidden;
    /* display: none; */
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
}
#user-score, #comp-score{
    font-size:4rem;
    text-decoration: underline;
}
.score{
    border: 2px solid  black;
    min-width: 8rem;
}
.score #name{
    color:red;
    font-size: 50px;
}
.msg-container{
    margin-top: 5rem;
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content:center;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;/*so that background color not be full line*/
    padding: 1rem;
    border-radius: 1rem;
}
#rest{
    background-color: #081b38;
    color: #fff;
    font-size: 2rem;
    display: inline;/*so that background color not be full line*/
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
@media only screen and (max-width:400px){
    h1{
        width: 100vw;
    }
    .choices{
        display: flex;
        gap:.5rem;
        margin-top: 5rem;
        .choice{
            width:5.2rem;
            height: 5.2rem;
            img{
                width: 5.2rem;
                height: 5.2rem;
            }
        }
    }
    .score-board{
        gap:1rem;
    }
    .score{
        min-width:1rem;
    }
}

